body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
main {
    background-image: url(img/form-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    flex-direction: column;
    width: 305px;
    height: 440px;
    /* padding: 1em 3em; */
    position: relative;
    color: white;
}
.header__sign-in {
    border-bottom: 3px solid transparent;
}
.header__join-us {
    padding-left: 1em;
    border-bottom: 3px solid transparent;
}
.header__join-us:focus, .header__sign-in:focus {
    border-bottom: 3px solid #23ae92;
}
.main__wrap {
    position: absolute;
    width: 100%;
    opacity: 0.5;
    height: 92%;
    z-index: -1;
    background-color: blue;
}
.header {
    margin-top: 0.7em;
    display: flex;
}
.header, .info {
    padding: 1em 3em;
}
.info__form {
    display: flex;
    flex-direction: column;
}
.info__links {
    display: flex;
    margin-top: 1.5em;
    justify-content: space-between;
}
.info__links a {
    font-size: 0.8em;
    color: rgb(216, 216, 216);
    
}
.info__form div input {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box; 
}
#check{
    width: 12px;
    display: inline;
}
.info__form div {
    padding: 0.5em 0em;
}
.info__form button {
    box-sizing: border-box;
    margin-top: 1.5em;
    padding: 0.5em;
    background-color: #23ae92;
    border: none;
    color: white;
    outline: none;
}
.info__form div > input {
    background-color: transparent;
    border: 1px solid rgb(223, 223, 223);
    font-size: 1em;
    padding: 0.5em;
    outline: none;
}