body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    margin-top: 2%;
    text-align: center;
}
header hr {
    width: 30px;
    background-color: black;
}
header p {
    display: inline-block;
    text-align: center;
    width: 70%;
}
article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.person {
    position: relative;
    display: inline-block;
    margin: 10px;
}
.person p:nth-child(2) {
    font-weight: bold;
    margin-bottom: 0;
}
.person p:nth-child(3) {
    font-weight: 200;
    margin: 0;
}
.photo:hover {
    /* border: 1px solid black; */
}
.person:hover .over-lay {
    transform: scale(1);
}

.over-lay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 100% 0;
    top: 0;
    transform: scaleY(0);
    width: 100%;
    height: 83%;
    background-color: #2098d1;
    z-index: 1;
    transition: 0.5s;
}
.over-lay a {
    margin: 5px;
    font-size: 1.4em;
}
/* .person img{
    z-index: 100;
    transition: 0.5s;
} */
