* {
    /* font-family:'Lato', sans-serif; */
    /* font-weight: 300; */
}
body {
    text-align: center;
    /* border: 1px solid black; */
}
main {
    /* border: 1px solid black; */
    display: inline-block;
    text-align: center;
    padding: 70px;
}
article {
    display: inline-block;
    /* border: 1px solid black; */
    text-align: left;
    width: 70%;
    padding: 70px;
    -webkit-box-shadow: 3px 0px 27px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 27px -10px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 27px -10px rgba(0,0,0,0.75);
}
h1 {
    font-weight: 300;
}
p{
    line-height: 1.5em;
    font-family:'Lato', sans-serif;
    color:#5c5c5c;
}
span {
    font-family: 'Times New Roman', Times, serif;
    line-height: normal;
    color: black;
}
section p:nth-child(2){
    /* line-height: 1.4em; */
}
article section p span {
    font-size: 110px;
    float: left;
    margin-top: -18px;
    margin-right: 20px;
    margin-bottom: -20px;
    /* vertical-align: top; */
}
.last {
    font-family: 'Montserrat', sans-serif;
}
button {
    padding: 20px 60px;
    background: transparent;
    border: 3px solid yellow;
    color: yellow;
    text-shadow: 2px 2px green;
    outline: none;
    text-transform: uppercase;
}